.job-index-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.job-card{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width:200px;
	height: 250px;
	text-align: center;
	margin: 10px;

	.job-card-image{
    max-width: 65%;
    border-radius: $gm-border-radius;
	}
}

