@import '_variables';

.main-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container-row{
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  width: -webkit-fill-available;
}
.right-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 70%;
  height: 260px;
  background: $gm-background-2;
  padding: 10px;
  border-radius: $gm-border-radius;
  border: $gm-border;
  box-shadow: $gm-shadow-sm;
}


.container-jobs-sm{
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  justify-content: flex-end ;

}

