@import 'home';
@import 'nav';
@import 'jobindex';
@import 'jobshow';
@import 'buttons';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' ,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: $font-color;
}


.glass-morphism{
  background: $gm-background-1;
  box-shadow: $gm-shadow;
  backdrop-filter: $gm-blur;
  -webkit-backdrop-filter: $gm-blur;
  border-radius: $gm-border-radius;
  border: $gm-border;
}

a{
  text-decoration: none;
  color: $font-color;
}


body{
	background: rgb(222,28,210);
  background-image: url(../images/digitalart-1610288210071-7075.jpg);
  background-attachment: fixed;
  background-size: contain;
	color:white;
	
}

.deverr-title{
  background: $deverr-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
  font-weight: bold;  
}