@import 'home';
@import 'nav';
@import 'jobindex';
@import 'jobshow';
@import 'buttons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,300&display=swap');

$font-color: rgb(14, 11, 31);
$deverr-color: -webkit-linear-gradient(90deg, rgba(38, 3, 163, 0.637) 0%, rgba(11, 183, 206, 0.623) 100%);

//Glassmorphism Variables
$gm-background: linear-gradient(130deg, rgba(242,242,249,0.8) 0%, rgba(253,254,254,0.2) 100%);
$gm-blur: blur(4px);
$gm-border-radius: 15px;
$gm-border: 1px solid rgba(255, 255, 255, 0.555);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' ,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.glass-morphism{
  background: $gm-background;
  box-shadow: 0 10px 20px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: $gm-blur;
  -webkit-backdrop-filter: $gm-blur;
  border-radius: $gm-border-radius;
  border: $gm-border;
}

a{
  text-decoration: none;
  color: $font-color;
}


body{
	background: rgb(222,28,210);
  background-image: url(../images/digitalart-1610288210071-7075.jpg);
  background-attachment: fixed;
  background-size: contain;
	color:white;
	
}

#deverr-title{
  background: $deverr-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
  font-weight: bold;  
}