@import 'home';
@import 'nav';
@import 'jobindex';
@import 'jobshow';
@import 'buttons';
@import 'login';
@import '_variables';
@import 'cards';
@import 'register';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,700;1,300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' ,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

p{
  color: $font-basic;

}

input, textarea{
  background: $gm-background-1;
  width: 80%;
  padding: 2px 10px;
  font-size: 13px;
  border-radius: $gm-border-radius;
  border: $gm-border;
  transition: all .3s ease;
  color: $font-blue;
  &::placeholder{
    color: #abafb8;
  }
  &:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.38);
  }
  &:focus{
    outline:none;
    border-color: $font-blue;
  }
}
label{
  font-weight: 600;
}

button{
  border: none;
  outline: none;
}

span{
  color: $font-blue;
  font-weight: 600;
  font-size: 110%;
  
}

.s-b{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.center{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
}

svg{
  margin-bottom: 3px;
}

hr{
  border-top: 1px solid rgba(214, 213, 213, 0.747);
  border-bottom: 0 ;
  border-left: 0 ;
  border-right: 0 ;
  width: 95%;
  margin-left: 5px;
  padding-bottom: 4px;
}

.glass-morphism{
  background: $gm-background-1;
  box-shadow: $gm-shadow;
  backdrop-filter: $gm-blur;
  -webkit-backdrop-filter: $gm-blur;
  border-radius: $gm-border-radius;
  border: $gm-border;
}

a{
  text-decoration: none;
  color: $font-basic;
}


body{
	background: rgb(222,28,210);
  background-image: url(../images/digitalart-1610288210071-7075.jpg);
  background-attachment: fixed;
  background-size: contain;
	color:white;
	
}

.deverr-title{
  background: $deverr-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
  font-weight: bold;  
}

.container-general {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4.5rem;
}