nav{
  height: 60px;
  border-radius: 0 0 15px 15px !important;
  position: fixed;
  width: 95vw;
  z-index: 1;
  backdrop-filter: blur( 6px ) !important;
  -webkit-backdrop-filter: blur( 6px ) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & div{
    margin: 0 40px;
  }
}
header{
  display: flex;
  justify-content: center;
}
.navButtonsGroup{
  margin: 0 15px;
  
}

@media screen and (max-width: 600px){
  nav{
    width: 100vw
  }  
}

